# IntelliJ project files
.idea
out
gen### Example user template template

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.gradle/
build/
gradle/
run/